
::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a30039;
    text-shadow: none;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
	
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

.btn-main {
    margin: 0 auto;
	display: block;
	padding: 10px 35px;
	font-size: 18px;
	border: none;
	background-color: #f2f2f2;
	color: #4a4a4a;
	text-transform: uppercase;
	border-radius: 5px;
	font-weight: 600;
}
	
.btn-main:hover {
	transform: scale(1.05);
	box-shadow: 0 5px 10px #00000066;
	transition: all .09s  ease-out;
}
	
	
.pop_up {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: transparent;
	z-index: 2;
	transform: translateY(-44.5%) scale(0);
	transition: .4s ease-in-out;
	
}
	
.pop_up.active {
	transform: translateY(0%) scale(100%);
	background-color:rgba(0 , 0 , 0, .8);
	
	
}
	
	
	
.pop_up_container {
	display: flex;
	width: 100%;
	height: 100%;
}
	
.pop_up_body {
	margin: auto;
	width: 500px;
	border-radius: 10px;
	background-color: #f2f2f2;
	text-align: center;
	padding: 100px 15px 110px 15px;
	position: relative;
}
	
.pop_up_body p {
	font-size: 28px;
	font-family: 'Arial Black';
	font-weight: 600;
	color: #16a085;
	margin-bottom: 40px;
}
	
.pop_up_body input {
	display: block;
	margin: 25px auto 0px auto;
	width: 330px;
	padding: 17px 20px;
	background-color: #ffffff;
	border-radius: 10px;
	border: none;
	font-family: 'Arial Black';
	font-weight: 500;
	font-size: 18px;
	color: #16a085(38, 42, 42, 0.344);
	  
	
}
	
.pop_up_body input:focus {
	outline: none;
}
	
.pop_up_body button {
	cursor: pointer;
	display: block;
	width: 330px;
	margin: 60px auto 0px auto;
	padding: 20px 0px;
	font-family: 'Arial Black';
	font-weight: 700;
	font-size: 20px;
	border: none;
	color: #fff;
	border-radius: 10px;
	background-color: #16a085;
}
	
.pop_up_close {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 21px;
	cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}

.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #1abc9c;
}

.navbar-default {
	background-color: #f2f2f2;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #a30039;
	background-color: transparent;
	border-bottom: 2px solid #a30039
}

.navbar-default .navbar-nav > li > a {
	color: #1abc9c;
}


#headerwrap {
	background: url(../img/back.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 75px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 40;
	color: #ffffff
}

#social {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #1abc9c
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 75px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {	
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
}

#aboutwrap h1 {
	color: #1abd9c;
	padding-top: 40px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 75px;
	font-weight: bold;
}


.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}